<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Propositions</title>
    <link rel="stylesheet" href="../../static/styles/building-block.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <script>
        // Include the data from sessionStorage
        let inputData = JSON.parse(sessionStorage.getItem("inputData")) || {};
    </script>
</head>
<body>
    <div class="topbar">
        <h1>Value Propositions</h1>
        <button class="AI-button" onclick="toggleChat()">AI</button>
    </div>
    <div id="sidebar" class="sidebar">
        <button id="sidebar-toggle" class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</button>
        <nav class="sidebar-menu">
          <ul>
            <li><a href="/">Main Page</a></li>
            <li class="submenu">
              <a href="#building-blocks" onclick="toggleBuildingBlocks()">
                Building Blocks
                <span id="building-blocks-arrow" class="arrow">&#x25B6;</span>
              </a>
              <ul id="building-blocks-menu" style="display: none;">
                <li><a href="/key-partners">Key Partners</a></li>
                <li><a href="/key-activities">Key Activities</a></li>
                <li><a href="/key-resources">Key Resources</a></li>
                <li><a href="/value-propositions">Value Propositions</a></li>
                <li><a href="/customer-segments">Customer Segments</a></li>
                <li><a href="/customer-relationships">Customer Relationships</a></li>
                <li><a href="/channels">Channels</a></li>
                <li><a href="/cost-structure">Cost Structure</a></li>
                <li><a href="/revenue-streams">Revenue Streams</a></li>
              </ul>
            </li>
              <li><a href="/process">Process</a></li>
            <li><a href="/value-proposition-canvas">Value Proposition Canvas</a></li>
          </ul>
        </nav>
      </div>
    <div id="main-content" class="container">
        <button class="back-button" onclick="window.history.back()">&#8249;</button>
        <div class="building-block-wrapper">
            <div class="building-block-block">
                <div class="building-block" id="building-block">
                    <div class="block-header">
                      <span class="block-title" id="block-title">Building Block</span>
                    </div>
                    <div class="block-input">
                      <textarea name="block-details" id="block-details" placeholder="Enter your building block details here..."></textarea>
                      <button class="save-button">Save Changes</button>
                    </div>
                  </div>
            </div>

            <div class="buttons-popup-wrapper">
                <div class="buttons-wrapper">
                  <button class="popup-button" data-target="how-to-fill">Description</button>
                  <button class="popup-button" data-target="what-to-remember">What to remember</button>
                  <button class="popup-button" data-target="trigger-questions">Trigger Questions</button>
                  <button class="popup-button" data-target="value-proposition-canvas">Value Proposition Canvas</button>
                  <button class="popup-button" data-target="notes">Notes</button>
                </div>
                <div id="how-to-fill" class="popup-text" style="display:none"><h3>Description of the Value Propositions</h3> <p>The Value Propositions Building Block involves bundling products and services that create value for a specific Customer Segment. It does not descrube the product that is offered, but instead consists of several benefits or aggregated value that a company offers customers, catering to the requirements of a specific Customer Segment. It’s the reason why customers choose one company over another. Therefore it’s important to offer a value proposition that is superior to the competition in an aspect. The elements of a Value Proposition can contribute to customer value creation in quantitative (e.g. price, speed of service) or qualitative (e.g. design, customer experience) ways. <br> <br>
                  These elements can contribute to customer value creation:</p> 
                  <ul>
                    <li>Design is an important but difficult element to measure. A product may stand out because of superior design. In the fashion and consumer electronics industries, design can be a particularly important part of the Value Proposition.</li>
                    <li>Customers may find value in the simple act of using and displaying a specific brand. Wearing a Rolex watch signifies wealth, for example.</li>
                    <li>Offering similar value at a lower price is a common way to satisfy the needs of price-sensitive Customer Segments.</li>
                    <li>Helping customers reduce costs is an important way to create value.</li>
                    <li>Customers value reducing the risks they incur when purchasing products or services.</li>
                    <li>Making products and services available to customers who previously lacked access to them is another way to create value.</li>
                    <li>Making things more convenient or easier to use can create substantial value.</li>
                  </ul>
                </div>
                  <div id="what-to-remember" class="popup-text" style="display:none"><h3>What to Remember when Developing Value Propositions</h3> <p>When developing Value Propositions, keep in mind that the Value Proposition creates value for a Customer Segment through a distinct mix of elements catering to that segment’s needs. 
                  <br> Some Value Propositions may be innovative and represent a new or disruptive offer, while others may be similar to existing market offers but with added features and attributes.<br> 
                  The value elements should be adjusted to match the specific needs of individual customers or Customer Segments. <br> 
                  Low-price Value Propositions have important implications for the rest of a business model, and helping customers reduce costs and risks is an important way to create value. <br>
                  Making products and services more convenient or easier to use can create important value as well. It is also important to analyze the market situation to find value propositions that is superior to competition and make customers choose you instead of the competition. <br>
                  <strong>To build more profound value propositions, visit the Value Proposition Canvas! </strong></p></div>
                <div id="trigger-questions" class="popup-text" style="display:none"><h3>Trigger Questions for Value Propositions </h3>
                  <ul>
                    <li>What value do we deliver to the customer?</li>
                    <li>Which one of our customer’s problems are we helping to solve?</li>
                    <li>Which customer needs are we satisfying?</li>
                    <li>What bundles of products and services are we offering to each Customer Segment?</li>
                    </ul>
                </div>
                <div id="value-proposition-canvas" class="popup-text" style="display:none">
                  <h2><a href="/value-proposition-canvas">Value Proposition Canvas</a></h2>
                  Click on the title of this page to refine your Value Proposition and Customer Segments by developing your Business Model to align customer needs with your value offerings. <br> Fill in the Value Proposition Canvas, and let ChatGPT help you by providing example value propositions, tips, or evaluations tailored to your use case. <br> Use the trigger questions on this page to guide your analysis.
                  </div>
                <div id="notes" class="popup-text" style="display:none">
                  <h3>Take notes</h3>
                  <textarea name="note-details" id="note-details" class="notes-textarea" placeholder="Take notes for prototyping, saving information or keeping track of tasks..."></textarea>
                </div>
            </div>
        </div>
    </div>

      <!-- AI Area -->
      <div id="overlay" class="overlay" onclick="toggleButtons()"></div>
      <div id="buttons-container" class="buttons-container">
          <div class="overlay-content">
            <div class="warning-sign-container">
              <div class="warning">
                <span class="warning-sign">&#9888;</span>                
                <span class="warning-text">ChatGPT is a language model and may provide unreliable information. Evaluate the model outputs critically.</span>
              </div>
            </div>
              <div class="methodological-aid">
                  <h2>Procedual support from AI:</h2>
                  <div class="method-buttons">
                      <button id="tips-button" class="tips-button">Tips from ChatGPT</button>
                  </div>
              </div>
              <div class="contextual-aid">
                  <h2>Contextual support from AI:</h2>
                  <div class="context-buttons">
                    <button id="prefill-button" class="prefill-button">Prefill current Building Block</button>
                    <button id="evaluate-button" class="evaluate-button">Evaluate Current Idea</button>
                    </div>
              </div>
          </div>
      </div>

      <!-- Chat container -->
      <div id="chat-container" class="chat-container">
          <div class="chat">
              <div class="chat-header">
                  <span class="chat-header-title">Chat with ChatGPT</span>
                  <button onclick="toggleChat()" class="close-button">Close</button>
              </div>
              <div id="chat-history" class="chat-history"></div>
              <div class="chat-input-container">
                  <input id="chat-input" class="chat-input" placeholder="Type your message here..." onkeydown="sendMessage(event)">
                  <button id="send-button" class="send-button"> Send </button>
              </div>
          </div>
          <div id="loading-circle-container" class="loading-circle-container">
              <div id="loading-circle" class="loading-circle"></div>
          </div>
      </div>


    <script src="../static/scripts/building-block.js"> </script>
    <script>
    //Event Listener, welche den building block angeben
    const blockType = "value-propositions"; 
    const blockTitle = "Value Propositions";
    loadSavedDetails(blockType, blockTitle);
    document.querySelector(".save-button").addEventListener("click", () => {
        saveDetails(blockType);
    });
    document.getElementById("evaluate-button").addEventListener("click", async () => {
        await evaluateBuildingBlock(blockType);
    });
    document.getElementById("tips-button").addEventListener("click", async () => {
        await tipsBuildingBlock(blockType, blockTitle);
    });

    document.getElementById("prefill-button").addEventListener("click", async () => {
        await prefillBuildingBlock(blockType, blockTitle);
    });

    </script>  
</body>
</html>
