Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Bcrypt
Flask-JWT-Extended
python-dotenv
psycopg2-binary  # O el driver para tu base de datos (ej. mysqlclient, o puedes usar sqlite)
gunicorn
Flask-Cors       # Importante para permitir que el navegador hable con ambos servicios