<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
    <link rel="stylesheet" href="../../static/styles/building-block.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <script>
        // Include the data from sessionStorage
        let inputData = JSON.parse(sessionStorage.getItem("inputData")) || {};
    </script>
</head>
<body>
    <div class="topbar">
        <h1>Channels</h1>
        <button class="AI-button" onclick="toggleChat()">AI</button>
      </div>
    <div id="sidebar" class="sidebar">
        <button id="sidebar-toggle" class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</button>
        <nav class="sidebar-menu">
          <ul>
            <li><a href="/">Main Page</a></li>
            <li class="submenu">
              <a href="#building-blocks" onclick="toggleBuildingBlocks()">
                Building Blocks
                <span id="building-blocks-arrow" class="arrow">&#x25B6;</span>
              </a>
              <ul id="building-blocks-menu" style="display: none;">
                <li><a href="/key-partners">Key Partners</a></li>
                <li><a href="/key-activities">Key Activities</a></li>
                <li><a href="/key-resources">Key Resources</a></li>
                <li><a href="/value-propositions">Value Propositions</a></li>
                <li><a href="/customer-segments">Customer Segments</a></li>
                <li><a href="/customer-relationships">Customer Relationships</a></li>
                <li><a href="/channels">Channels</a></li>
                <li><a href="/cost-structure">Cost Structure</a></li>
                <li><a href="/revenue-streams">Revenue Streams</a></li>
              </ul>
            </li>
    
            <li><a href="/process">Process</a></li>
            <li><a href="/value-proposition-canvas">Value Proposition Canvas</a></li>
          </ul>
        </nav>
      </div>
    <div id="main-content" class="container">
        <button class="back-button" onclick="window.history.back()">&#8249;</button>
        <div class="building-block-wrapper">
            <div class="building-block-block">
                <div class="building-block" id="building-block">
                    <div class="block-header">
                      <span class="block-title" id="block-title">Building Block</span>
                    </div>
                    <div class="block-input">
                      <textarea name="block-details" id="block-details" placeholder="Enter your building block details here..."></textarea>
                      <button class="save-button">Save Changes</button>
                    </div>
                  </div>
                  
            </div>

            <div class="buttons-popup-wrapper">
              <div class="buttons-wrapper">
                <div class="buttons-wrapper">
                  <button class="popup-button" data-target="how-to-fill">Description</button>
                  <button class="popup-button" data-target="what-to-remember">What to remember</button>
                  <button class="popup-button" data-target="trigger-questions">Trigger Questions</button>
                  <button class="popup-button" data-target="notes">Notes</button>
                </div>
                <div id="how-to-fill" class="popup-text" style="display:none"><h3> Description of the Building Block: </h3>
                  <p>The Channels Building Block describes how a company communicates with and reaches its Customer Segments to deliver a Value Proposition Communication, distribution, and sales Channels comprise a company's interface with customers. Channels are customer touch points that play an important role in the customer experience.</p>
                  <p>Channels serve several functions, including:</p>
                  <ul>
                    <li>Raising awareness among customers about a company’s products and services</li>
                    <li>Helping customers evaluate a company’s Value Proposition</li>
                    <li>Allowing customers to purchase specific products and services</li>
                    <li>Delivering a Value Proposition to customers</li>
                    <li>Providing post-purchase customer support</li>
                  </ul>
                  <p>Channels have five distinct phases. Each channel can cover some or all of these phases. We can distinguish between direct Channels and indirect ones, as well as between owned Channels and partner Channels. Finding the right mix of Channels to satisfy how customers want to be reached is crucial in bringing a Value Proposition to market. An organization can choose between reaching its customers through its own Channels, through partner Channels, or through a mix of both. Owned Channels can be direct, such as an in-house sales force or a Web site, or they can be indirect, such as retail stores owned or operated by the organization. Partner Channels are indirect and span a whole range of options, such as wholesale distribution, retail, or partner-owned Web sites.</p>
                  </div>
                <div id="what-to-remember" class="popup-text" style="display:none"><h3>What to remember about Channels</h3>
                  <p>When developing the Channels Building Block, remember the following:</p>
                  <ul>  
                    <li>Identify the Channels that are best suited to reach the target Customer Segments.</li>
                    <li>Define the key functions of each Channel and explore ways to integrate them for a seamless customer experience. </li>
                    <li>Determine how to measure and optimize Channel performance.</li>
                    <li>Determine the optimal mix of direct and indirect Channels for the business model.</li>
                    <li>Understand the resources required to establish and operate each Channel, and compare the costs and benefits of each Channel.</li>
                  </ul></div>
                <div id="trigger-questions" class="popup-text" style="display:none"><h3>Trigger Questions for Channels</h3>
                  <ul>
                    <li>Through which Channels do our Customer Segments want to be reached?</li>
                    <li>How are we reaching them now?</li>
                    <li>How are our Channels integrated? Which ones work best?</li>
                    <li>Which ones are most cost-efficient?</li>
                    <li>How are we integrating them with customer routines?</li>
                  </ul>
                </div>
                <div id="notes" class="popup-text" style="display:none">
                  <h3>Take notes</h3>
                  <textarea name="note-details" id="note-details" class="notes-textarea" placeholder="Take notes for prototyping, saving information or keeping track of tasks..."></textarea>
                </div>
          </div>
        </div>
    </div>

      <!-- AI Area -->
      <div id="overlay" class="overlay" onclick="toggleButtons()"></div>
      <div id="buttons-container" class="buttons-container">
          <div class="overlay-content">
            <div class="warning-sign-container">
              <div class="warning">
                <span class="warning-sign">&#9888;</span>                
                <span class="warning-text">ChatGPT is a language model and may provide unreliable information. Evaluate the model outputs critically.</span>
              </div>
            </div>
              <div class="methodological-aid">
                  <h2>Procedual support from AI:</h2>
                  <div class="method-buttons">
                      <button id="tips-button" class="tips-button">Tips from ChatGPT</button>
                  </div>
              </div>
              <div class="contextual-aid">
                  <h2>Contextual support from AI:</h2>
                  <div class="context-buttons">
                    <button id="prefill-button" class="prefill-button">Prefill current Building Block</button>
                    <button id="evaluate-button" class="evaluate-button">Evaluate Current Idea</button>
                    </div>
              </div>
          </div>
      </div>

      <!-- Chat container -->
      <div id="chat-container" class="chat-container">
          <div class="chat">
              <div class="chat-header">
                  <span class="chat-header-title">Chat with ChatGPT</span>
                  <button onclick="toggleChat()" class="close-button">Close</button>
              </div>
              <div id="chat-history" class="chat-history"></div>
              <div class="chat-input-container">
                  <input id="chat-input" class="chat-input" placeholder="Type your message here..." onkeydown="sendMessage(event)">
                  <button id="send-button" class="send-button"> Send </button>
              </div>
          </div>
          <div id="loading-circle-container" class="loading-circle-container">
              <div id="loading-circle" class="loading-circle"></div>
          </div>
      </div>

    <script defer src="{{ url_for('static', filename='scripts/app_config.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/building-block.js') }}"></script>
    <script>
    //Event Listener, welche den building block angeben
    const blockType = "channels"; 
    const blockTitle = "Channels";
    loadSavedDetails(blockType, blockTitle);
    document.querySelector(".save-button").addEventListener("click", () => {
        saveDetails(blockType);
    });
    document.getElementById("evaluate-button").addEventListener("click", async () => {
        await evaluateBuildingBlock(blockType);
    });
    document.getElementById("tips-button").addEventListener("click", async () => {
        await tipsBuildingBlock(blockType, blockTitle);
    });

    document.getElementById("prefill-button").addEventListener("click", async () => {
        await prefillBuildingBlock(blockType, blockTitle);
    });
    </script>  
</body>
</html>